<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> HTML Forms</h2>

    <form action="/submit_new" method="post">
        <label for="Science">Science:</label> <br>
        <input type="text" id="Science" name="Science" value="0"><br>
        <label for="Maths">Maths:</label> <br>
        <input type="text" id="Maths" name="Maths" value="0"><br>
        <label for="History">History:</label> <br>
        <input type="text" id="History" name="History" value="0"><br>
        <label for="Physics">Physics:</label> <br>
        <input type="text" id="Physics" name="Physics" value="0"><br><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>